################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SPWSAppDeploymentAPINETFX/config
/SPWSAppDeploymentAPINETFX/bin
/.vs/SPWSAppDeploymentAPINETFX/v16
/SPWSAppDeploymentAPINETFX/obj
/SPWSAppDeploymentAPINETFX/UploadFiles
