################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SPWSAppDeploymentAPINETFX/config
/.vs/SPWSAppDeploymentAPINETFX/v16
/SPWSAppDeploymentAPINETFX/bin
