body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #e9ecef !important;
}

.active {
    color: green;
}

.inactive {
    color: red;
}

.body-content {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    height: inherit;
}

footer {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: right;
    margin-right: 20px;
}

table, tr td {
    text-align: center;
}

.tableScroll {
    overflow: auto;
    height: 300px;
}

.tableScroll thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    text-align: center;
}

table {
    width: 100%;
    background: white;
}

th, td {
    padding: 8px 16px;
    vertical-align: middle;
}